*.class
*.iws
*.log*
.history
.idea
version.txt
/*.iml
/*.ipr
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
/.bsp
dist
lib_managed
logs
project/project
project/target
target
target/
tmp
.cache-main
.cache-tests
bin/
docker/
terraform/