<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="uk.gov.hmrc.play.logging.JsonEncoder"/>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!--  TODO remove after full journey complete-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <property name="LOG_LEVEL" value="${log.level:-debug}" />

    <logger name="uk.gov" level="${LOG_LEVEL}"/>

    <!--  TODO remove after full journey complete-->
    <logger name="aws.java.sdk" level="DEBUG"/>

</configuration>