<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{HH:mm:ss} %message %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender" />
    </root>

    <property name="LOG_LEVEL" value="${log.level:-INFO}" />

    <logger name="uk.gov" level="${LOG_LEVEL}" />

</configuration>